services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always

    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: America/Cuiaba

    ports:
      - "3306:3306"

    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/init:/docker-entrypoint-initdb.d

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: fastapi_app:dev

    container_name: fastapi_app
    restart: always

    depends_on:
      mysql:
        condition: service_healthy

    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_NAME: mysql

    volumes:
      - ./api:/api

    ports:
      - "8000:8000"

    command: >
      uvicorn main:app
      --host 0.0.0.0
      --port 8000
      --reload

volumes:
  mysql_data:
